.container-questions {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.wrapper-questions {
  width: 80%;
}

.wrap-question {
  background: gray;

  padding: 10px;
  margin-top: 5px;
}

.wrap-question p {
  color: #000;
}

.example-question {
  background: rgba(0, 0, 0, 0.08);
  padding: 5px;
}

.example-question textarea {
  width: 99.5%;
  height: 600px;
}
