.carrusel {
  width: 100%;
}

.carrusel-item {
  height: 800px;

  position: relative;
}

.carrusel-item img {
  width: 100%;
  height: auto;
}

@supports (object-fit: cover) {
  .carrusel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}