@mixin breakpoints($breakpoint) {
  @if ($breakpoint == phone) {
    @media (max-width: 600px) {
      @content;
    }
  }

  @if ($breakpoint == tablet) {
    @media (max-width: 900px) {
      @content;
    }
  }

  @if ($breakpoint == desktop) {
    @media (min-width: 1024px) {
      @content;
    }
  }
}
