#wrapper-counter {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  width: 80%;
}

.wrap-cards {
  display: flex;
  flex-wrap: wrap;
}

.counter-card {
  height: 100px;
  width: 100px;
  padding: 10px;

  background-color: #202124;
  color: gray;

  margin: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
}

.counter-card h4 {
  position: absolute;
  top: -20px;
  left: 6px;
}

.wrapp-actions-total {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.actions {
  position: absolute;
  bottom: 2px;
}

.actions button {
  cursor: pointer;
  background-color: gray;
}

.counter-total {
  background: #202124;
  border-radius: 6px;
  font-weight: bold;

  height: 60px;
  width: 160px;
  margin-left: 3px;
  margin-bottom: 5px;


  display: flex;
  justify-content: center;
  align-items: center;
}
