@import "../../sass/breakpoints.scss";

#wrapper-content-detail {
  position: relative;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: auto;

  position: relative;
}

@supports (object-fit: cover) {
  img {
    max-height: 100vh;
    object-fit: cover;
    object-position: center center;
  }
}

#detail {
  position: absolute;
  bottom: 160px;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  padding: 18px;
  left: 10px;
  

  @include breakpoints(phone) {
    bottom: 10px;
    right: 10px;
  }

  @include breakpoints(tablet) {
    bottom: 10px;
    right: 10px;
  }

  @include breakpoints(desktop) {
    width: 600px;
  }
}
