#links {
    display: flex;
    list-style-type: none;
    text-decoration: none;
  }
  
  #links li {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  
  .link {
    color: black;
    background-image: linear-gradient(to bottom, transparent 65%, #a4373a 0);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-size 0.4s ease;
  
    color: #ecdada;
    font-size: 20px;
  
    text-align: center;
  }
  
  .link:hover {
    background-size: 100% 100%;
    cursor: pointer;
  }
  