.notification-alert {
  display: flex;
  align-items: center;
  width: 300px;
  height: 80px;
  padding: 5px;
  border-radius: 6px;
  margin: 5px;

  -webkit-box-shadow: 2px -1px 5px -1px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 2px -1px 5px -1px rgba(0, 0, 0, 0.63);
  box-shadow: 2px -1px 5px -1px rgba(0, 0, 0, 0.63);

  i {
    font-size: 30px;
    color: #ffffff;
  }

  span {
    color: #ffffff;
    margin-left: 10px;
  }
}
