#header {
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: rgba(0, 0, 0, .2);

  display: flex;
  justify-content: space-between;

  img {
    width: 85px;
    height: 97px;
    padding: 5px;

    box-sizing: border-box;
  }
}

