#footer {
  width: 100%;
  height: 200px;
  margin-top: 30px;

  border-top: .2px solid gray;

  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  font-weight: bold;
}

.wrapper_social_media {
  display: flex;
}

.icon_media {
  fill: #fff;
  height: 1.5rem;
  margin-left: 8px;
}
